<hello name="{{ name }}"></hello>
<menu-component></menu-component>

<h2>Cigarro</h2>
<p>Poema escrito por Kendrik G Duarte</p>
<H3
  >Trago no coração uma saudade após a outra, Trago erros e escolhas, tantas mas
  escolhas. Trago pessoas passageiras, que só me deram felicidades que viraram
  tristeza. Trago amores e dores, sopros e clamores E trago sem parar meu
  cigarro na varanda, esperando a vida trazer a morte, porque eu ainda não
  consegui tragar ela. Mas em quanto ela não vem, continuo a esperar, com o
  lápis na mão e um caderno pra rabiscar. Esperando que isso traga algo em que
  eu possa acreditar.</H3
>

<!-- data binding = associação de dados -->

<!-- interpolação  -->
<my-button label="👍"></my-button>
<my-button label="👎"></my-button>

<!-- property binding -->
<my-button [label]="buttonLabel[0]"></my-button>
<my-button [label]="buttonLabel[1]"></my-button>

<!-- two way data binding -->
<app-entry-data></app-entry-data>
